body{
   background: url(imagens/Paulistaimg.jpg) ;
   margin: 100px;
   display: flex;
   justify-content: center;
   text-align: left;

}




.Tela{
    background-color: white;
    color: black;
     width: 400px;
     height: 350px;
     margin: 250px 0 0 480;
     padding-top: 50px;
     text-align: center;
     border-radius: 20px;

}

.Tela input{
    display: block;
    margin: 10px 15px 10px 15px;
    width: 85%;
    padding: 5px;
    border-radius: 20px;
    color: black;

}
.Tela label{
    display: block;
    padding: 20px 20px 10px 15px;
    font-size: 20px;
    color: black;
}
.Tela button{
    display: block;
    margin: 30px 0 0 190px;
    font-family: 20px;
    margin-top: 40px;
    padding: 30px;
    border: 90px;
}

