body{
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: left;
}


.User{
    width: 350px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 80px 0px 80px 0px;
    color: black;
    background-color: rgba(red, green, blue, alpha);
  }